traefik/config/traefik.yml
traefik/data/acme.json
traefik/logs
authelia/config/configuration.yml
authelia/config/db.sqlite3
authelia/config/notification.txt
authelia/config/users.yml
authelia/logs
.secrets/authelia_identity_validation_reset_password_jwt_secret
.secrets/authelia_session_secret
.secrets/authelia_storage_encryption_key
.secrets/cf_dns_api_token
.secrets/cf_zone_api_token
.env
