name: test-traefik
services:
  authelia:
    image: docker.io/authelia:latest
    container_name: authelia
    volumes:
      - ./authelia:/config
    environment:
      TZ: Asia/Tokyo
    networks:
      - frontend
    restart: always
    labels:
      traefik.enable: true
      traefik.http.routers.authelia.rule: Host(`auth.hs.sunao1222.net`)
      traefik.http.routers.authelia.entrypoints: websecure
      traefik.http.routers.authelia.tls: true
      traefik.http.routers.authelia.tls.option: default
      traefik.http.middlewares.authelia.forwardauth.address: http://authelia:9091/api/authz/forward-auth
      traefik.http.middlewares.authelia.forwardauth.trustForwardHeader: true
      traefik.http.middlewares.authelia.forwardauth.authResponseHeaders: Remote-User,Remote-Groups,Remote-Name,Remote-Email

  traefik:
    image: docker.io/traefik:latest
    container_name: traefik
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /run/user/${UID}/podman/podman.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/traefik.yml:ro
      - ./traefik/acme.json:/acme.json
    secrets:
      - cf_dns_api_token
      - cf_zone_api_token
    environment:
      - CF_DNS_API_TOKEN_FILE=/run/secrets/cf_dns_api_token
      - CF_ZONE_API_TOKEN_FILE=/run/secrets/cf_zone_api_token
    ports:
      - '80:80'
      - '443:443/tcp'
    networks:
      - frontend
    restart: always
    labels:
      traefik.enable: true
      traefik.http.routers.dashboard.rule: Host(`traefik.hs.sunao1222.net`)
      traefik.http.routers.dashboard.entrypoints: websecure
      traefik.http.routers.dashboard.service: api@internal

  whoami:
    image: docker.io/traefik/whoami:latest
    container_name: whoami
    networks:
      - frontend
    restart: always
    labels:
      traefik.enable: true
      traefik.http.routers.whoami.rule: Host(`whoami.hs.sunao1222.net`)
      traefik.http.routers.whoami.entrypoints: websecure

networks:
  frontend:
    external: true

secrets:
  cf_dns_api_token:
    file: ./.secrets/cf_dns_api_token.txt
  cf_zone_api_token:
    file: ./.secrets/cf_zone_api_token.txt
